.sl-form {
    max-width: 600px;
}
.sl-short-input {
    max-width: 180px;
}
.sl-markdown, .sl-fixed-width {
    font-family: monospace;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
