body {
    background: url('/images/background_full.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#sl-header {
    background-image: url(/images/logo-header-background.png);
    background-repeat: no-repeat;
    height: auto;
    overflow: hidden;
    margin-bottom: 8px;
}
#sl-header .sl-logo-spacing {
    padding-top: 200px;
}
#sl-header .nav li a {
    color: #10069F;
    background-color: #f8c88d;
    font-weight: bold;
}
#sl-header li:first-child {
    padding-left: 0px;
}
@media (min-width: 768px) {
    #sl-header li {
        padding-left: 4px;
    }
}
#sl-header li a {
    border-radius: 0px;
}

.sl-page {
    margin: 0;
    padding: 0;
    background-color: white;
}

ul#sl-category-tabs {
    margin: 0;
}
#sl-category-tabs.nav li a {
    background-color: #29306f;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
}
#sl-category-tabs.nav li.active a {
    background-color: #e18734;
    color: #fff;
}
#sl-category-tabs li:first-child {
    padding-left: 0px;
}

@media (min-width: 768px) {
    #sl-category-tabs li {
        padding-left: 4px;
    }
}


#sl-header h1 {
    font-family: Bitter;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #e18734;
}
#sl-header p:first-of-type {
    font-weight: bold;
}
#sl-header p:last-of-type {
    font-size: 14px;
}
#sl-header li a.active {
    background-color: #e18734;
}

#sl-logo {
    margin: 0;
}

#sl-main-area {
    margin: 0;
    padding: 0;
    /*opacity: 0.7;*/
    /*background-color: #fff;*/
    background: rgba(255, 255, 255, 0.7)
}

#sl-footer-blue {
    font-weight: normal;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #29306f;
    height: 52px;
}
#sl-footer-blue p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-size: 12px;
    color: white;
}
#sl-footer-blue a {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-size: 12px;
    color: white;
}
#sl-footer-white {
    padding-left: 10px;
    padding-top: 15px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    height: 80px;
}

#sl-outer-chalk {
    background: rgba(255, 255, 255, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 600px;
}
.sl-inner-whiteboard {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none
}
#carousel-example-generic {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.sl-vehicle-features {
    padding-left: 0px;
    padding-right: 0px;
}
div.sl-vehicle-features ul {
    list-style: none;
    padding-left: 0px;
    line-height: 1.7em;
}
@media (min-width: 992px) {
    .sl-summary-heading {
        margin-top: -3px;
    }
    .sl-vehicle-features {
        padding-left: 40px;
    }
}
@media (min-width: 992px) {
    .sl-vehicle-main {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .nav-tabs > li {
        float:none;
        border:1px solid #dddddd;
    }
    .nav-tabs > li.active > a{
        border:none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
     {
        background:none;
        border:none;
    }
}

#sl-category-tabs {
    margin-bottom: 30px;
}

/* category view */
.sl-vehicle-container {
    display: inline-block;
    max-width: 360px;
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    margin-right: 15px;
    padding: 0;
    height: auto;
    font-family: Lato, Helvetica, Arial, sans-serif;
    opacity: 1;
    background-color: white;
    border: 1px solid #29306f;
    padding: 6px;
}
.sl-vehicle-container img {
    vertical-align: middle;
}
.sl-vehicle-container-header {
    margin: 0;
    margin-right: 15px;
    padding: 0;
    padding-left: 15px;
    background-color: #29306f;
    height: 32px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: white;
}



.sl-price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background: #ffffff;
    font-size: 16px;
    border-radius: 3px;
}
.sl-vehicle-details {
    margin: 0;
    padding: 0;
    /*border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;
    border-bottom: 1px solid #f2f1f1;*/
}
.sl-vehicle-details h1 {
    margin: 0;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 10px;
    line-height: 26px;
    font-size: 20px!important;
    font-weight: bold;
}
.sl-vehicle-details h1 a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666464;
}
.sl-vehicle-details h2 {
    font-size: 22px;
    font-weight: bold;
    color: #e18734;
    margin: 0;
    padding-top: 5px;
    padding-left: 2px;
}

.sl-vehicle-details p {
    margin: 0;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 10px;
    padding-bottom: 15px;
    font-size: 15px;
}
.sl-vehicle-details p a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #777777;
}
.sl-vehicle-container .label, .sl-vehicle-full-container .label {
    position:absolute;
    left: -4px;
    top: -3px;
}
.sl-vehicle-full-container {
    overflow: visible;
}

/* markdown */
.table {
    width: initial;
}
